body {
	margin: 0px;
}

#listcontainer {
	list-style-type: none;
	padding: 3px;
	margin: 0px;
}

.maplink {
	display: block;
	text-decoration: none;
	padding: 1px 3px;
}

.maplink:link, .maplink:visited {
	color: MenuText;
	background-color: Menu;
	cursor: default;
}

.maplink:hover {
	color: -moz-MenuHoverText;
	background-color: -moz-MenuHover;
	cursor: default;
}
